<li>
    <h3>
        <a href="/{{ article.url }}" class="contrast">{{ article.title }}</a>
    </h3>
    <blockquote>{{ article.summary }}
    {% if article.category %}
    <strong>Category:</strong> 
    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% endif %}
    <br>
    {% if article.tags %}
    <strong>Tags:</strong> 
    {% for tag in article.tags %}
        <a href="/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
    <br>
    <small>Published on {{ article.date.strftime("%B %d, %Y") }}</small>
    </blockquote>
</li>
