{% extends "base.html" %}

{% block content %}
  {% set raw_category = category.name if (category is not string) else category %}
  {% set category_title = raw_category|replace('-', ' ')|title %}
  {% set featured_section = resolve_featured_section(raw_category, FEATURED_CONTENT, pages, articles) %}
  {% set featured_slugs = featured_section.referenced_slugs if featured_section else [] %}
  {% set supplemental_content = resolve_content_by_slug(featured_section.body_slug if featured_section else None, pages, articles) %}

  <header>
    <h2>{{ category_title }}</h2>
  </header>
  <hr>

  {% if featured_section %}
    {% set section = featured_section %}
    {% set show_section_title = section.title|lower != category_title|lower %}
    {% include "partials/card_section.html" %}
  {% endif %}

  {% if supplemental_content %}
    <section class="category-supplemental-content">
      {{ render_inline_sections(supplemental_content.content, supplemental_content, FEATURED_CONTENT, pages, articles)|safe }}
    </section>
  {% endif %}

  {% set category_articles = [] %}
  {% for article in articles if article.category == category and article.slug not in featured_slugs %}
      {% set _ = category_articles.append(article) %}
  {% endfor %}

  {% if category_articles %}
  <ul class="article-list">
    {% for article in category_articles %}
        {% include "article_item.html" %}
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
