<footer>
{% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
    <section>
        <div class="container">
            <h2>Feed</h2>
            <ul>
                {% if FEED_ALL_ATOM %}
                        <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate">atom feed</a></li>
                {% endif %}
                {% if FEED_ALL_RSS %}
                        <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate">rss feed</a></li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endif %}
</footer>