<nav class="container-fluid">
  <ul>
    <li>
      <a href="/" class="contrast" aria-label="Back home">
        <img src="/static/images/logo.svg"
             alt="box logo"
             title="Site logo"
             decoding="async"
             width="33"
             height="33"
             style="width: 33px; height: 33px;">
      </a>
    </li>
    <li><a href="/" class="contrast">{{ SITENAME }}</a></li>
  </ul>
  <ul>
    <!-- Desktop: inline menu items -->
    {% for title, link in MENUITEMS %}
    <li class="hide-on-mobile">
      <a href="{{ link }}" class="contrast">{{ title }}</a>
    </li>
    {% endfor %}
    
    <!-- Mobile: dropdown menu -->
    <li class="show-on-mobile">
      <details class="dropdown">
        <summary aria-haspopup="listbox" role="button">Portfolio</summary>
        <ul dir="rtl">
          {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </details>
    </li>
  </ul>
</nav>