<nav class="container-fluid">
  <ul>
    <li>
      <a href="/" class="contrast" aria-label="Back home">
        <img src="/static/images/logo.svg"
             alt="box logo"
             title="Site logo"
             decoding="async"
             width="33"
             height="33"
             style="width: 33px; height: 33px;">
      </a>
    </li>
    <li>{{ SITENAME }}</li>
  </ul>
<ul>
  <!-- Root-level pages (like About) -->
  {% for p in pages %}
    {% if p.title != "Index" %}
    <li>
      <a href="/{{ p.url }}" class="contrast"{% if p == page %} aria-current="page"{% endif %}>
        {{ p.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}

  <!-- Dynamically generated categories -->
  {% for category, articles in categories %}
    <li>
      <a href="/{{ category.url }}" class="contrast"
         {% if category == current_category %} aria-current="page"{% endif %}>
        {{ category.name | title }}
      </a>
    </li>
  {% endfor %}
</ul>
</nav>