{% extends "base.html" %}

{% block content %}
<h2>My Work</h2>

{% set grouped_articles = {} %}

<!-- Group articles by category -->
{% for article in articles %}
    {% if article.relative_source_path.startswith("work/") %}
        {% set category = article.category %}
        {% if category not in grouped_articles %}
            {% set _ = grouped_articles.update({category: []}) %}
        {% endif %}
        {% set _ = grouped_articles[category].append(article) %}
    {% endif %}
{% endfor %}

<!-- Loop through grouped articles -->
{% for category, category_articles in grouped_articles.items() %}
    <h2>{{ category|capitalize }}</h2>
    <ul style="list-style: none; padding: 0;">
        {% for article in category_articles %}
            {% include "article_item.html" %}
        {% endfor %}
    </ul>
{% endfor %}

{% include 'footer.html' %}

{% endblock %}
